Web(JSP)/src/conf/xml-resources/web-service-references/Principal/wsdl/localhost_8080/RentaActivosWeb_JSP_/Principal.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="EliminarActivo" type="tns:EliminarActivo"/>

<xs:element name="EliminarActivoResponse" type="tns:EliminarActivoResponse"/>

<xs:element name="EliminarTransaccion" type="tns:EliminarTransaccion"/>

<xs:element name="EliminarTransaccionResponse" type="tns:EliminarTransaccionResponse"/>

<xs:element name="Login" type="tns:Login"/>

<xs:element name="LoginResponse" type="tns:LoginResponse"/>

<xs:element name="ModificarActivo" type="tns:ModificarActivo"/>

<xs:element name="ModificarActivoResponse" type="tns:ModificarActivoResponse"/>

<xs:element name="ObtenerIdArbol" type="tns:ObtenerIdArbol"/>

<xs:element name="ObtenerIdArbolResponse" type="tns:ObtenerIdArbolResponse"/>

<xs:element name="Prueba" type="tns:Prueba"/>

<xs:element name="PruebaResponse" type="tns:PruebaResponse"/>

<xs:element name="Registrar" type="tns:Registrar"/>

<xs:element name="RegistrarActivo" type="tns:RegistrarActivo"/>

<xs:element name="RegistrarActivoResponse" type="tns:RegistrarActivoResponse"/>

<xs:element name="RegistrarResponse" type="tns:RegistrarResponse"/>

<xs:element name="getRentasDisponibles" type="tns:getRentasDisponibles"/>

<xs:element name="getRentasDisponiblesResponse" type="tns:getRentasDisponiblesResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="rentar" type="tns:rentar"/>

<xs:element name="rentarResponse" type="tns:rentarResponse"/>

<xs:complexType name="EliminarActivo">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="empresa" type="xs:string" minOccurs="0"/>
<xs:element name="departamento" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarActivoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarActivo">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="producto" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="empresa" type="xs:string" minOccurs="0"/>
<xs:element name="departamento" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarActivoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrarActivo">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="nombreProducto" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="empresa" type="xs:string" minOccurs="0"/>
<xs:element name="departamento" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrarActivoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Login">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="empresa" type="xs:string" minOccurs="0"/>
<xs:element name="departamento" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Registrar">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="empresa" type="xs:string" minOccurs="0"/>
<xs:element name="departamento" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistrarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Prueba">
<xs:sequence>
<xs:element name="parameter" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PruebaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rentar">
<xs:sequence>
<xs:element name="idActivo" type="xs:string" minOccurs="0"/>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="empresa" type="xs:string" minOccurs="0"/>
<xs:element name="departamento" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="tiempo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rentarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRentasDisponibles">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="empresa" type="xs:string" minOccurs="0"/>
<xs:element name="departamento" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRentasDisponiblesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarTransaccion">
<xs:sequence>
<xs:element name="idActivo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarTransaccionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ObtenerIdArbol">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="empresa" type="xs:string" minOccurs="0"/>
<xs:element name="departamento" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ObtenerIdArbolResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>