Web(JSP)/src/conf/xml-resources/web-service-references/Principal/wsdl/localhost_8080/RentaActivosWeb_JSP_/Principal.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="Principal">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/RentaActivosWeb(JSP)/Principal?xsd=1"/>
</xsd:schema>
</types>
<message name="EliminarTransaccion">
<part name="parameters" element="tns:EliminarTransaccion"/>
</message>
<message name="EliminarTransaccionResponse">
<part name="parameters" element="tns:EliminarTransaccionResponse"/>
</message>
<message name="ObtenerIdArbol">
<part name="parameters" element="tns:ObtenerIdArbol"/>
</message>
<message name="ObtenerIdArbolResponse">
<part name="parameters" element="tns:ObtenerIdArbolResponse"/>
</message>
<message name="RegistrarActivo">
<part name="parameters" element="tns:RegistrarActivo"/>
</message>
<message name="RegistrarActivoResponse">
<part name="parameters" element="tns:RegistrarActivoResponse"/>
</message>
<message name="EliminarActivo">
<part name="parameters" element="tns:EliminarActivo"/>
</message>
<message name="EliminarActivoResponse">
<part name="parameters" element="tns:EliminarActivoResponse"/>
</message>
<message name="ModificarActivo">
<part name="parameters" element="tns:ModificarActivo"/>
</message>
<message name="ModificarActivoResponse">
<part name="parameters" element="tns:ModificarActivoResponse"/>
</message>
<message name="Prueba">
<part name="parameters" element="tns:Prueba"/>
</message>
<message name="PruebaResponse">
<part name="parameters" element="tns:PruebaResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="Registrar">
<part name="parameters" element="tns:Registrar"/>
</message>
<message name="RegistrarResponse">
<part name="parameters" element="tns:RegistrarResponse"/>
</message>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="rentar">
<part name="parameters" element="tns:rentar"/>
</message>
<message name="rentarResponse">
<part name="parameters" element="tns:rentarResponse"/>
</message>
<message name="getRentasDisponibles">
<part name="parameters" element="tns:getRentasDisponibles"/>
</message>
<message name="getRentasDisponiblesResponse">
<part name="parameters" element="tns:getRentasDisponiblesResponse"/>
</message>
<portType name="Principal">
<operation name="EliminarTransaccion">
<input wsam:Action="http://WebService/Principal/EliminarTransaccionRequest" message="tns:EliminarTransaccion"/>
<output wsam:Action="http://WebService/Principal/EliminarTransaccionResponse" message="tns:EliminarTransaccionResponse"/>
</operation>
<operation name="ObtenerIdArbol">
<input wsam:Action="http://WebService/Principal/ObtenerIdArbolRequest" message="tns:ObtenerIdArbol"/>
<output wsam:Action="http://WebService/Principal/ObtenerIdArbolResponse" message="tns:ObtenerIdArbolResponse"/>
</operation>
<operation name="RegistrarActivo">
<input wsam:Action="http://WebService/Principal/RegistrarActivoRequest" message="tns:RegistrarActivo"/>
<output wsam:Action="http://WebService/Principal/RegistrarActivoResponse" message="tns:RegistrarActivoResponse"/>
</operation>
<operation name="EliminarActivo">
<input wsam:Action="http://WebService/Principal/EliminarActivoRequest" message="tns:EliminarActivo"/>
<output wsam:Action="http://WebService/Principal/EliminarActivoResponse" message="tns:EliminarActivoResponse"/>
</operation>
<operation name="ModificarActivo">
<input wsam:Action="http://WebService/Principal/ModificarActivoRequest" message="tns:ModificarActivo"/>
<output wsam:Action="http://WebService/Principal/ModificarActivoResponse" message="tns:ModificarActivoResponse"/>
</operation>
<operation name="Prueba">
<input wsam:Action="http://WebService/Principal/PruebaRequest" message="tns:Prueba"/>
<output wsam:Action="http://WebService/Principal/PruebaResponse" message="tns:PruebaResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://WebService/Principal/helloRequest" message="tns:hello"/>
<output wsam:Action="http://WebService/Principal/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="Registrar">
<input wsam:Action="http://WebService/Principal/RegistrarRequest" message="tns:Registrar"/>
<output wsam:Action="http://WebService/Principal/RegistrarResponse" message="tns:RegistrarResponse"/>
</operation>
<operation name="Login">
<input wsam:Action="http://WebService/Principal/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://WebService/Principal/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="rentar">
<input wsam:Action="http://WebService/Principal/rentarRequest" message="tns:rentar"/>
<output wsam:Action="http://WebService/Principal/rentarResponse" message="tns:rentarResponse"/>
</operation>
<operation name="getRentasDisponibles">
<input wsam:Action="http://WebService/Principal/getRentasDisponiblesRequest" message="tns:getRentasDisponibles"/>
<output wsam:Action="http://WebService/Principal/getRentasDisponiblesResponse" message="tns:getRentasDisponiblesResponse"/>
</operation>
</portType>
<binding name="PrincipalPortBinding" type="tns:Principal">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="EliminarTransaccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerIdArbol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegistrarActivo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarActivo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarActivo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Prueba">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Registrar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rentar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRentasDisponibles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Principal">
<port name="PrincipalPort" binding="tns:PrincipalPortBinding">
<soap:address location="http://localhost:8080/RentaActivosWeb(JSP)/Principal"/>
</port>
</service>
</definitions>